
.navbar{
    background-color: rgb(255, 255, 255) !important;
    box-shadow: 1px 0px 10px 0.3px;
}
.profile{
    border: 2px solid rgb(221, 166, 63);
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.profile i{
    font-size: 20px;
    color: orange;
}
.btn{
    width: 100px;
    height: 40px;
    font-size: large !important;
    font-weight: bold !important;
    color: rgb(0, 0, 0) !important;
    border: px solid rgb(212, 137, 24) !important;
    background-color: orange !important;
    border-radius: 50px !important;
}

.main-div{
    background-color: rgb(212, 212, 212);
    height: 2000px;
}
.container-main{
    display: flex;
    justify-content: center;
    max-width: 100%;
    margin: auto;
}
.container-main-t{
    width: 1450px;
    border: px solid black;
    margin-top: 0px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
    background-color: rgb(212, 212, 212);
}
.trainer-section{
    width: 90%;
    height: 200px;
    margin-top: 20px;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    padding: 10px;
}
.trainer-heading{
    display: flex;
}
/* main sec close */


/* Date section */
.data{
    display: flex;
    justify-content: space-evenly;
    
}


.data-box1{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.data-box1 h6{
    border: px solid green;
    width: 207px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aqua;
    margin-bottom: 2px;
}
.data-box1 span{
    width: 207px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(27, 194, 194);
}
/* data-2 */
.data-box2 h6{
    border: px solid green;
    width: 420px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aqua;
    margin-bottom: 2px;
}
.data-box2 span{
    width: 420px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(27, 194, 194);
}
/* data-3 */
.data-box3 h6{
    padding: 0px 18px;
    border: px solid green;
    width: px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aqua;
    margin-bottom: 2px;
    font-size: small;
}
.data-box3 span{
    padding: 0px 7px;
    width: px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(27, 194, 194);
    font-size: small;
}
/* data4 */
.data-box4 h6{
    padding: 0px 18px;
    border: px solid green;
    width: 420px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aqua;
    margin-bottom: 2px;
    font-size: small;
}
.data-box4 span{
    padding: 0px 7px;
    width: px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(27, 194, 194);
    font-size: small;
}
/* data section close */

/* button section */
.btn-ud{
    margin-left: 86%;
    margin-top: 8px;
    display: flex;
    gap: 10px;
}
.btn-delete{
    padding: 3px 15px;
    border-radius: 20px;
    border: 0px;
    background-color: rgb(240, 65, 65);
    color: white;
}
.btn-delete:hover{
    background-color: brown;
    transition: 0.3s;
}
.btn-update{
    padding: 3px 15px;
    border-radius: 20px;
    border: 0px;
    background-color: orange;
    color: white;
}
.btn-update:hover{
    background-color: rgb(212, 142, 0);
    
    transition: 0.3s;
}
h3{
    padding: 10px;
    width: 250px;
}
.btn-nadd{
    border: 2px solid green;
    height: 30px;
    width: 70px;
    border-radius: 20px;
    margin-top: 15px;
    background-color: rgb(255, 255, 255);
    color: green;
}
.btn-nadd:hover{
    background-color: green;
    color: rgb(255, 255, 255);
    border: 2px solid green;
    transition: 0.3s;
}
/* button close */

